<% commentable.comments.includes(:user).each.with_index(1) do |comment, i| %>
  <p>
    <strong><%= Comment.model_name.human %><%= "##{i}" %>:</strong>
    <%= simple_format comment.body %><br>
    <%= User.human_attribute_name(:name) %>
    <%= comment.user.name.presence || comment.user.email %><br>
    <%= Comment.human_attribute_name(:created_at) %>
    <%= comment.created_at.strftime(t('date.formats.default')) %>
    <% if comment.user == current_user %>
      <%= link_to t('views.common.destroy'), [commentable, comment], method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
    <% end %>
  </p>
<% end %>

<% if commentable.comments.empty? %>
  <%= t 'comments.empty' %>
<% end %>

<%= form_with(model: commentable.comments.new, url: polymorphic_path([commentable, Comment.new])) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
